<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }} !</h1>
</div>
<nav>
  <mat-toolbar color="primary">
    <span>
      <a [routerLink]="['/']" routerLinkActive="router-link-active"
        ><mat-icon>home</mat-icon>Home</a
      >
    </span>
    <span>
      <button mat-button [matMenuTriggerFor]="gestion">
        <mat-icon>dialpad</mat-icon>Gestion
      </button>
      <mat-menu #gestion="matMenu">
        <button
          mat-menu-item
          [routerLink]="['/joueurs']"
          routerLinkActive="router-link-active"
        >
          <mat-icon>face</mat-icon>Joueurs
        </button>
        <button
          mat-menu-item
          [routerLink]="['/equipes']"
          routerLinkActive="router-link-active"
        >
          <mat-icon>group</mat-icon>Equipes
        </button>
      </mat-menu>
    </span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Deconnexion</button>
    <button mat-menu-item>Options</button>
  </mat-menu>
</nav>
<router-outlet></router-outlet>
